<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Quiz</title>
   <link rel = 'stylesheet' href = '/stylesheets/style.css'>
</head>

<body>
<h1>Ayuda</h1>

<a href ="/">Inicio</a>
<a href ="/author">Créditos</a>


<p>
    Definición:Un quiz es un tipo de juego,concurso o competición de preguntas en el cual los jugadores intentan responder de forma correcta una serie de preguntas.
    Forma de responder: Entrando dentro de cada Quiz y rellenando la respuesta.
    Objetivo:Intentar responder a las mayores preguntas posibles.
</p>


</body>
</html>